
<style>
    body {
        padding-top: 100px; 
    }
</style>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center text-muted">
                    About us
                </h3>
                <p class="lead">
                    Welcome to Meme &amp; Co.
                </p>
                <div>
                    We're a non-profit organization that dedicated to one cause, your satisfaction.
                </div>
                <div>
                    Introducing our first product, our brand new, Book Rental System. In here you can rent to your heart content without any real life consequences.
                </div>
                <div>
                    This Rental System is designed by the best of the best so it's totally will not cause problem to you or your family and friends.
                </div>
                <div>
                    When in doubt, remember our company motto "Consume products, don't ask questions".
                </div>
                <div>
                    Thank you for choosing Meme &amp; Co.
                </div>

            </div>
        </div>
    </div>

</body>