@{
    ViewBag.Title = "Home Page";
}

<style>
    body {
        padding-top: 100px;
    }
</style>
<body><div class="jumbotron"><div class="jumbotron">
    <div class="jumbotron">
        <div class="jumbotron">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <img src="~/Image/Book Index.png" />
                    </div>
                    <div class="col-md-6">
                        <dl>
                            <dt class="h3">
                                Hello!
                            </dt>
                            <dd class="h4">
                                Welcome to the world's greatest Book Rental Store.
                            </dd>
                            <dd>
                                In this store, you'll find a great selection of books that will satisfy your soul.
                            </dd>
                            <dd>
                                Interested in renting till your heart gives out?
                            </dd>
                            <dd>
                                Well click the button below to join the legion of fan that's already on this site.
                            </dd>
                        </dl>
                        <button type="button" class="btn btn-block btn-lg btn-primary">
                            Register
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div></div></body>