@model WebApplication3.Models.AuthorTable

<style>
    body {
        padding-top: 100px;
    }
</style>
<body>
    <h2>Detai of the author</h2>
</body>
<div>
    <h4>AuthorTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AuthorID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
