<style>
    body {
        padding-top: 100px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-color:#f0ece4;
    }
</style>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center text-muted">
                    Contact us
                </h3>
                <p>
                    Address: One way street, Death-road, AM 66666-66666.
                </p>
                <div>
                    24/7 Hot-Line: 666.666.666
                </div>

            </div>
        </div>
    </div>
</body>