@{
    ViewBag.Title = "Home Page";
}

<style>
    body {
        background-image: url('../../Image/Background.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 100px;
        color:#f0e9d5 !important;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight:bold;

    }



    .jumbotron {
    background-color:#c2a880 !important;
    border:solid;
    border-color:#3a2b1c;
    border-style:groove;

    
}

    
    .h3
    {
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .h4{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
</style>
<body>

        <div class="jumbotron">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <img src="~/Image/Book Index.png" />
                    </div>
                    <div class="col-md-6">
                        <dl>
                            <dt class="h3">
                                Hello!
                            </dt>
                            <dd class="h4">
                                Welcome to the world's greatest Book Rental Store.
                            </dd>
                            <dd>
                                In this store, you'll find a great selection of books that will satisfy your soul.
                            </dd>
                            <dd>
                                Interested in renting till your heart gives out?
                            </dd>
                            <dd>
                                Well click the button below to join the legion of fan that's already on this site.
                            </dd>
                        </dl>
                        <button type="button" class="btn btn-block btn-lg btn-primary" onclick="location.href='@Url.Action("Register", "User")'">
                            Register
                        </button>
                    </div>
                </div>
            </div>
        </div>
 
</body>